body {
    position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #ebedee;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #edebf0;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #f5f4f4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #e9ebea;}
 
